@model CSPLibrary.NewUserModel



@*@using (Ajax.BeginForm("AddNewUser", "AdminHome", new AjaxOptions { HttpMethod = "POST", InsertionMode = InsertionMode.InsertBefore,
    UpdateTargetId = "formAddAvailabilityContainer", 
    OnSuccess = "AddNewUSerSuccess" ,
    OnFailure = "AddNewUSerFailure"}, new { @class = "AjaxForm", @id = "formAddNewUser_"}))*@

@using (Html.BeginForm("AddNewUser", "People", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "form-horizontal", @id = "NewUserForm" }))
{

@*<form id="formAddNewUser_">*@
    <div class="modal" id="add-new-user">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <a class="close" data-dismiss="modal">&times;</a>
                    <h4 class="modal-title">Add New User</h4>
                </div>
                <div class="modal-body">
                    <div class="row-fluid">

                        @Html.AntiForgeryToken()
                        @Html.ValidationSummary(true)

                        <div class="form-group">
                            @Html.LabelFor(m => m.FirstName, new { @class = "col-sm-4 control-label" })
                            <div class="col-sm-7">
                                @Html.TextBoxFor(m => m.FirstName, new { @class = "form-control", @placeholder = "Enter First Name" })
                                @Html.ValidationMessageFor(m => m.FirstName)
                            </div>
                        </div>
                       
                        <div class="form-group">
                            @Html.LabelFor(m => m.LastName, new { @class = "col-sm-4 control-label" })
                            <div class="col-sm-7">
                                @Html.TextBoxFor(m => m.LastName, new { @class = "form-control", @placeholder = "Enter Last Name" })
                                @Html.ValidationMessageFor(m => m.LastName)
                            </div>
                        </div>

                        <div class="form-group">
                            @Html.LabelFor(m => m.Email, new { @class = "col-sm-4 control-label" })
                            <div class="col-sm-7">
                                @Html.TextBoxFor(m => m.Email, new { @class = "form-control", @placeholder = "Enter Email Address" })
                                @Html.ValidationMessageFor(m => m.Email)
                            </div>
                        </div>

                        <div class="form-group">
                            @Html.LabelFor(m => m.Password, new { @class = "col-sm-4 control-label" })
                            <div class="col-sm-7">
                                @Html.PasswordFor(m => m.Password, new { @class = "form-control", @placeholder = "Enter Password" })
                                @Html.ValidationMessageFor(m => m.Password)
                            </div>
                        </div>

                        <div class="form-group">
                            @Html.LabelFor(m => m.ConfirmPassword, new { @class = "col-sm-4 control-label" })
                            <div class="col-sm-7">
                                @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "form-control", @placeholder = "Confirm Password" })
                                @Html.ValidationMessageFor(m => m.ConfirmPassword)
                            </div>
                        </div>
                       
                        <div class="form-group">
                            @Html.LabelFor(m => m.AccountRole, new { @class = "col-sm-4 control-label" })
                            <div class="col-sm-7">
                               @Html.EditorFor(m => m.AccountRole, "AccountRoles")
                               @Html.ValidationMessageFor(m => m.AccountRole)
                            </div>
                        </div>

                        <div class="form-group">
                            @Html.LabelFor(m => m.Customer_Id, new { @class = "col-sm-4 control-label" })
                            <div class="col-sm-7">
                                @Html.EditorFor(m => m.Customer_Id, "CustomersList")
                                @Html.ValidationMessageFor(m => m.Customer_Id)
                            </div>
                        </div>                        

                        <div class="form-group">
                            @Html.LabelFor(m => m.Status, new { @class = "col-sm-4 control-label" })
                            <div class="col-sm-7">
                                @Html.EditorFor(m => m.Status, "UserStatus")
                                @Html.ValidationMessageFor(m => m.Status)
                            </div>
                        </div>

                        <div class="form-group">
                            @Html.LabelFor(m => m.Phone, new { @class = "col-sm-4 control-label" })
                            <div class="col-sm-7">
                                @Html.TextBoxFor(m => m.Phone, new { @class = "phone form-control", @placeholder = "999-999-9999" })
                                @Html.ValidationMessageFor(m => m.Phone)
                            </div>
                        </div>                       

                        <div class="form-group">
                            @Html.LabelFor(m => m.MobileNumber, new { @class = "col-sm-4 control-label" })
                            <div class="col-sm-7">
                                @Html.TextBoxFor(m => m.MobileNumber, new { @class = "phone form-control", @placeholder = "999-999-9999" })
                                @Html.ValidationMessageFor(m => m.MobileNumber)
                            </div>
                        </div>
                        

                        <div class="form-group">
                            @Html.LabelFor(m => m.Address, new { @class = "col-sm-4 control-label" })
                            <div class="col-sm-7">
                                @Html.TextBoxFor(m => m.Address, new { @class = "form-control", @placeholder = "Enter Address" })
                                @Html.ValidationMessageFor(m => m.Address)                                
                            </div>
                        </div>

                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <a href="#" class="btn" data-dismiss="modal">Close</a>
                <input type="submit" class="btn" value="Save Changes" />
            </div>
        </div>
    </div>

    }
@*</form>*@