@model CSPLibrary.NewUserModel



@*@using (Ajax.BeginForm("AddNewUser", "AdminHome", new AjaxOptions { HttpMethod = "POST", InsertionMode = InsertionMode.InsertBefore,
    UpdateTargetId = "formAddAvailabilityContainer", 
    OnSuccess = "AddNewUSerSuccess" ,
    OnFailure = "AddNewUSerFailure"}, new { @class = "AjaxForm", @id = "formAddNewUser_"}))*@

@using (Html.BeginForm("AddNewUser", "People", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "form", @id = "NewUserForm" }))
{

@*<form id="formAddNewUser_">*@
    <div class="modal" id="add-new-user">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <a class="close" data-dismiss="modal">&times;</a>
                    <h4 class="modal-title">Add New User</h4>
                </div>
                <div class="modal-body">
                    <div class="row-fluid">

                        @Html.AntiForgeryToken()
                        @Html.ValidationSummary(true)

                        @Html.LabelFor(m => m.Name, new { @class = "control-label" })
                        @Html.TextBoxFor(m => m.Name)
                        @Html.ValidationMessageFor(m => m.Name)

                        @Html.LabelFor(m => m.Email, new { @class = "control-label" })
                        @Html.TextBoxFor(m => m.Email)
                        @Html.ValidationMessageFor(m => m.Email)

                        @Html.LabelFor(m => m.Password, new { @class = "control-label" })
                        @Html.PasswordFor(m => m.Password)
                        @Html.ValidationMessageFor(m => m.Password)

                        @Html.LabelFor(m => m.ConfirmPassword, new { @class = "control-label" })
                        @Html.PasswordFor(m => m.ConfirmPassword)
                        @Html.ValidationMessageFor(m => m.ConfirmPassword)

                        @Html.LabelFor(m => m.AccountRole, new { @class = "control-label" })
                        @Html.EditorFor(m => m.AccountRole, "AccountRoles")
                        @Html.ValidationMessageFor(m => m.AccountRole)

                        @Html.LabelFor(m => m.Customer_Id, new { @class = "control-label" })
                        @Html.EditorFor(m => m.Customer_Id, "CustomersList")
                        @Html.ValidationMessageFor(m => m.Customer_Id)

                        @Html.LabelFor(m => m.Status, new { @class = "control-label" })
                        @Html.EditorFor(m => m.Status, "UserStatus")
                        @Html.ValidationMessageFor(m => m.Status)

                        @Html.LabelFor(m => m.Phone, new { @class = "control-label" })
                        @Html.TextBoxFor(m => m.Phone)
                        @Html.ValidationMessageFor(m => m.Phone)

                        @Html.LabelFor(m => m.MobileNumber, new { @class = "control-label" })
                        @Html.TextBoxFor(m => m.MobileNumber)
                        @Html.ValidationMessageFor(m => m.MobileNumber)

                        @Html.LabelFor(m => m.Address, new { @class = "control-label" })
                        @Html.TextBoxFor(m => m.Address)
                        @Html.ValidationMessageFor(m => m.Address)                        

                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <a href="#" class="btn" data-dismiss="modal">Close</a>
                <input type="submit" class="btn" value="Save Changes" />
            </div>
        </div>
    </div>

    }
@*</form>*@