@model CSPLibrary.NewVendorModel

@using (Html.BeginForm("AddNewVendor", "Vendors", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "form-horizontal", @id = "NewVendorForm" }))
{
    <div class="modal" id="add-new-vendor">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <a class="close" data-dismiss="modal">&times;</a>
                    <h4 class="modal-title">Add New Vendor</h4>
                </div>
                <div class="modal-body">
                    <div class="row-fluid">

                        @Html.AntiForgeryToken()
                        @Html.ValidationSummary(true)

                        <div class="form-group">
                            @Html.LabelFor(m => m.Name, new { @class = "col-sm-4 control-label" })
                            <div class="col-sm-7">
                                @Html.TextBoxFor(m => m.Name, new {@class="form-control", @placeholder = "Enter Vendor Name" })
                                @Html.ValidationMessageFor(m => m.Name)
                            </div>
                        </div>

                        <div class="form-group">
                            @Html.LabelFor(m => m.SupportNumber, new { @class = "col-sm-4 control-label" })
                            <div class="col-sm-7">
                               @Html.TextBoxFor(m => m.SupportNumber, new { @placeholder = "999.999.999", @class = "phone form-control" })
                                @Html.ValidationMessageFor(m => m.SupportNumber)
                            </div>
                        </div>

                        <div class="form-group">
                            @Html.LabelFor(m => m.SupportEmail, new { @class = "col-sm-4 control-label" })
                            <div class="col-sm-7">
                                @Html.TextBoxFor(m => m.SupportEmail, new { @class = "form-control", @placeholder = "example@domain.com" })
                                @Html.ValidationMessageFor(m => m.SupportEmail)
                            </div>
                        </div>

                        <div class="form-group">
                            @Html.LabelFor(m => m.website, new { @class = "col-sm-4 control-label" })
                            <div class="col-sm-7">
                                @Html.TextBoxFor(m => m.website, new { @placeholder = @"http://www.example.com", @class = "url form-control" })
                                @Html.ValidationMessageFor(m => m.website)
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <a href="#" class="btn" data-dismiss="modal">Close</a>
                <input type="submit" class="btn" value="Save Changes" />
            </div>
        </div>
    </div>
}
