@model CSPLibrary.NewVendorModel

@using (Html.BeginForm("AddNewVendor", "Vendors", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "form", @id = "NewVendorForm" }))
{
    <div class="modal" id="add-new-vendor">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <a class="close" data-dismiss="modal">&times;</a>
                    <h4 class="modal-title">Add New Vendor</h4>
                </div>
                <div class="modal-body">
                    <div class="row-fluid">

                        @Html.AntiForgeryToken()
                        @Html.ValidationSummary(true)

                        @Html.LabelFor(m => m.Name, new { @class = "control-label" })
                        @Html.TextBoxFor(m => m.Name, new { @placeholder = "Enter Vendor Name" })
                        @Html.ValidationMessageFor(m => m.Name)

                        @Html.LabelFor(m => m.SupportNumber, new { @class = "control-label" })
                        @Html.TextBoxFor(m => m.SupportNumber, new { @placeholder = "Enter Vendor Support Number", @class="phone" })
                        @Html.ValidationMessageFor(m => m.SupportNumber)

                        @Html.LabelFor(m => m.SupportEmail, new { @class = "control-label" })
                        @Html.TextBoxFor(m => m.SupportEmail, new { @placeholder = "Enter Vendor Support Email" })
                        @Html.ValidationMessageFor(m => m.SupportEmail)

                        @Html.LabelFor(m => m.website, new { @class = "control-label" })
                        @Html.TextBoxFor(m => m.website, new { @placeholder = "Enter Vendor Website" , @class="url" })
                        @Html.ValidationMessageFor(m => m.website)

                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <a href="#" class="btn" data-dismiss="modal">Close</a>
                <input type="submit" class="btn" value="Save Changes" />
            </div>
        </div>
    </div>
}
