@model CSPLibrary.NewHardwareModel
@{
    ViewBag.Title = "Edit Hardware Details";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<div style="text-align:center">
    <h2>Edit Hardware Details</h2>
</div>

<div class="col-lg-12 center" style="margin-left:9%">
    @*<div class="tableHeader col-lg-9">
        <h2>Edit Hardware Details</h2>
    </div>*@

    <div class="col-lg-8">
        @using (Html.BeginForm("UpdateHardware", "Hardware", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "form-horizontal" }))
        {

            <div class="modal-footer">
                <a href="/Hardware/Index" class="btn">Cancel</a>
                <input type="submit" class="btn" value="Save" />
            </div>
            
            @Html.AntiForgeryToken()
            @Html.ValidationSummary(true)
            
            @Html.HiddenFor(m => m.Hardware_Id)
            @Html.HiddenFor(m => m.Associted_Hardware_Id);
            @Html.HiddenFor(m => m.site_id)
            <div class="form-group">
            </div>
            <div class="form-group">
            </div>
            
            <div class="form-group">
                @Html.LabelFor(m => m.Vendor_ID, new { @class = "col-sm-3 control-label" })
                <div class="col-sm-9">
                    @Html.EditorFor(m => m.Vendor_ID, "VendorsList", new { @autofocus = "autofocus" })
                    @Html.ValidationMessageFor(m => m.Vendor_ID)
                </div>
            </div>
            
            <div class="form-group">
                @Html.LabelFor(m => m.Serial_Number, new { @class = "col-sm-3 control-label" })
                <div class="col-sm-9">
                    @Html.TextBoxFor(m => m.Serial_Number, new { @class = "form-control" })
                    @Html.ValidationMessageFor(m => m.Serial_Number)
                </div>
            </div>
            
            <div class="form-group">
            @Html.LabelFor(m => m.Make, new { @class = "col-sm-3 control-label" })
            <div class="col-sm-9">
                @Html.EditorFor(m => m.Make,"HardwareMakeList", new { @autofocus = "autofocus" })
                @Html.ValidationMessageFor(m => m.Make)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(m => m.Model, new { @class = "col-sm-3 control-label" })
            <div class="col-sm-9">
                @Html.TextBoxFor(m => m.Model, new { @class = "form-control" })
                @Html.ValidationMessageFor(m => m.Model)
            </div>
        </div>
            
        <div class="form-group">
            @Html.LabelFor(m => m.Item, new { @class = "col-sm-3 control-label" })
            <div class="col-sm-9">
                @Html.EditorFor(m => m.Item, "HardwareItemList")
                @Html.ValidationMessageFor(m => m.Item)
            </div>
        </div>
            
        <!-- Place where you will insert your partial -->
        <div class="form-group">
            <div class="col-sm-offset-3 col-sm-9" id="partialFunction_">
            </div>
        </div>    
            
        <div class="form-group">
            @Html.LabelFor(m => m.Software_ID, new { @class = "col-sm-3 control-label" })
            <div class="col-sm-9">
                @Html.EditorFor(m => m.Software_ID, "SoftwareList")
                @Html.ValidationMessageFor(m => m.Software_ID)
            </div>
        </div>    
            
        <div class="form-group">
            @Html.LabelFor(m => m.WarrantyStart, new { @class = "col-sm-3 control-label" })
            <div class="row">
                <div class="container">
                    <div class="col-sm-9">
                        <div class='input-group date' id="startDate_">
                            @Html.TextBoxFor(m => m.WarrantyStart, new { @class = "form-control", @placeholder = "01/25/2014" })
                            <span class="input-group-addon">
                                <span class="glyphicon glyphicon-calendar"></span>
                            </span>
                        </div>
                        @Html.ValidationMessageFor(m => m.WarrantyStart)
                    </div>
                </div>
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(m => m.WarrantyEnd, new { @class = "col-sm-3 control-label" })
            <div class="row">
                <div class="container">
                    <div class="col-sm-9">
                        <div class='input-group date' id="endDate_">
                            @Html.TextBoxFor(m => m.WarrantyEnd, new { @class = "form-control", @placeholder = "01/25/2014" })
                            <span class="input-group-addon">
                                <span class="glyphicon glyphicon-calendar"></span>
                            </span>
                        </div>
                        @Html.ValidationMessageFor(m => m.WarrantyEnd)
                    </div>
                </div>
            </div>
        </div>
        
        <div class="form-group">
            @Html.LabelFor(m => m.PurchasedBy, new { @class = "col-sm-3 control-label" })
            <div class="col-sm-9">
                @Html.EditorFor(m => m.PurchasedBy, "PurchasedBy")
                @Html.ValidationMessageFor(m => m.PurchasedBy)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(m => m.ClientCode, new { @class = "col-sm-3 control-label" })
            <div class="col-sm-9">
                @Html.EditorFor(m => m.ClientId, "CustomersList")
                @Html.ValidationMessageFor(m => m.ClientId)
            </div>
        </div>
            
            <div class="form-group">
@Html.LabelFor(m => m.site_id, new { @class = "col-sm-3 control-label" })
             <div class="col-sm-9" id="sitesID">
                
             </div>
        </div>       
            <div class="form-group">
                @Html.LabelFor(m => m.Hardware_Status, new { @class = "col-sm-3 control-label" })
                <div class="col-sm-9">
                    @Html.EditorFor(m => m.Hardware_Status, "HardwareStatusList")
                    @Html.ValidationMessageFor(m => m.Hardware_Status)
                </div>
            </div>
            
            <div class="modal-footer">
                <a href="/Hardware/Index" class="btn">Cancel</a>
                <input type="submit" class="btn" value="Save" />
            </div>
        }
    </div>
</div>


@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/bundles/jquery")
    @Styles.Render("~/Content/admin/css")
    @Scripts.Render("~/bundles/maskedEdit")
    @Scripts.Render("~/bundles/moment")
    @Styles.Render("~/bundles/bootstrap-datepicker-css")
    @Scripts.Render("~/bundles/bootstrap-datepicker")

    <script>
        $(document).ready(function () {
            // Initialize datepicker
            $("#startDate_").datetimepicker({
                pickTime: false
            });
            $("#endDate_").datetimepicker({
                pickTime: false
            });
            $("#startDate_").on("dp.change", function (e) {
                $('#endDate_').data("DateTimePicker").setMinDate(e.date);
            });
            $("#endDate_").on("dp.change", function (e) {
                $('#startDate_').data("DateTimePicker").setMaxDate(e.date);
            });

            {
                // code for item == "accessory"
                var itemInfo = $('#itemlist_ :selected')[0].innerHTML;
                if (itemInfo && itemInfo.toLowerCase() === "accessory") {
                    $.get('/Hardware/GetHardwareDropdownView?value=' + itemInfo, function (data) {

                        $('#partialFunction_').html(data);

                        //Setting seleted associated hardware value
                        var assiciated_HArdwareID = $('#Associted_Hardware_Id').val();

                        if (assiciated_HArdwareID !== "") {
                            
                            //Remove recursive hardware entry
                            var hardwareId = $("#Hardware_Id").val();
                            $("[name='Associted_Hardware_Id'] option[value='" + hardwareId + "']").remove();

                            var index = $("#hardwarelist_ option[value='" + assiciated_HArdwareID + "']").index();
                            var selector = $("#hardwarelist_")[0];
                            selector.selectedIndex = index;

                            if ($('#hardwarelist_ option').length === 0) {
                                $('#partialFunction_').html("");
                            }
                        } else {

                            $('#partialFunction_').html("");
                        }

                        $('#partialFunction_').fadeIn('fast');

                    }).fail(function () {
                        // alert("Something is Wrong !!!");
                        $("#errorDiv_").fadeIn('slow');
                        $("#errorDiv_").delay(3000).fadeOut(1000);
                    });

                }

                //this code will display list of sites as per client
                $('#customerslist_').change(function () {
                    var selectedClient = $('#customerslist_ option:selected').val();
                    $.get('/CustomerVendor/GetSitesView?id=' + selectedClient, function (data) {
                        $('#sitesID').html(data);
                        $('#sitesID').fadeIn('fast');
                    });
                });

                // this code will execute on form load
                var client = $('#customerslist_ option:selected').val();
                $.get('/CustomerVendor/GetSitesView?id=' + client, function (data) {
                    $('#sitesID').html(data);
                    $('#sitesID').fadeIn('fast');

                    var data = $("#site_id").val();
                    var index = $("#siteslist_ option[value='" + data + "']").index();
                    var selector = $("#siteslist_")[0];
                    selector.selectedIndex = index;
                });
                

            }


            $('#itemlist_').change(function () {
                var currentValue = this.value;
                var data = this.selectedOptions[0].innerHTML;

                if (data && data.toLowerCase() == "accessory") {
                    $.get('/Hardware/GetHardwareDropdownView', function (data) {

                        /* data is the pure html returned from action method, load it to your page */
                        $('#partialFunction_').html(data);

                        //Remove recursive hardware entry
                        var hardwareId = $("#Hardware_Id").val();
                        $("[name='Associted_Hardware_Id'] option[value='" + hardwareId + "']").remove();

                        if ($('#partialFunction_ option').length === 0) {
                            $('#partialFunction_').html("<div style='color: red'>No hardware found</div>").fadeIn('slow');
                            $("#partialFunction_").delay(2000).fadeOut(1000);
                        } else {
                            /* little fade in effect */
                            $('#partialFunction_').fadeIn('fast');
                        }

                    }).fail(function () {
                        // alert("Something is Wrong !!!");
                        $("#errorDiv_").fadeIn('slow');
                        $("#errorDiv_").delay(3000).fadeOut(1000);
                    });
                } else {
                    $('#partialFunction_').html("");
                    $('#partialFunction_').fadeIn('fast');
                }

            });

            $("form").submit(function () {

                // this code will to used to update field of associated_hardware_id
                var hiddenData = $('#hardwarelist_ option:selected').val();
                $("#Associted_Hardware_Id").attr("value", hiddenData);

                // this code will to used to update field of site_id
                var siteID_Val = $('#siteslist_ option:selected').val();
                $("#site_id").attr("value", siteID_Val);
            });
            

        });
    </script>
}