@model CSPLibrary.CustomerVendorViewModelPost

@{
    ViewBag.Title = "Customer-Vendor Profile";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<div class="col-lg-12 center" style="margin-left:9%">
    <div class="tableHeader col-lg-9">
        <a class="col-lg-2 btn" href="/CustomerVendor/Index/">All Mappings</a>
        <h2 class="col-lg-8">Mapping Information for @Model.newCustomerVendorModel.ClientCode and @Model.newCustomerVendorModel.VendorName</h2>
    </div>
    <div class="col-lg-9 col-sm-12 col-md-6 col-lg-6 col-xs-offset-0 col-sm-offset-0 col-md-offset-0 col-lg-offset-0 toppad">
        <div class="panel panel-info">
            <div class="panel-body">
                <div class="row">
                    <div class="col-md-3 col-lg-3 " align="center"> <img alt="User Pic" src="/content/images/profile_photo.png" class="img-circle"> </div>
                    <div class=" col-md-9 col-lg-9 ">
                        <table class="table table-user-information">
                            <tbody>
                                <tr>
                                    <td><strong>Vendor Name :</strong></td>
                                    <td>@Model.newCustomerVendorModel.VendorName</td>
                                </tr>

                                <tr>
                                    <td><strong>Account : </strong></td>
                                    <td>@Model.newCustomerVendorModel.Account</td>
                                </tr>

                                <tr>
                                    <td><strong>Function :</strong></td>
                                    <td>@Model.newCustomerVendorModel.Function</td>
                                </tr>
                                @if (@Model.isp != null)
                                {
                                    <tr>
                                        <td><strong>Function Notes :</strong></td>
                                        <td>
                                            <table>
                                                <tbody>
                                                    <tr>
                                                        <td><i><strong>IP : </strong></i></td>
                                                        <td>@Model.isp.IP</td>
                                                    </tr>
                                                    <tr>
                                                        <td><i><strong>Subnet Mask: </strong></i></td>
                                                        <td>@Model.isp.SubnetMask</td>
                                                    </tr>
                                                    <tr>
                                                        <td><i><strong>DNS1 : </strong></i></td>
                                                        <td>@Model.isp.DNS1</td>
                                                    </tr>
                                                    <tr>
                                                        <td><i><strong>DNS2 : </strong></i></td>
                                                        <td>@Model.isp.DNS2</td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                        </td>

                                    </tr>
                                }

                                <tr>
                                    <td><strong>Usernames &amp; Passwords :</strong></td>
                                    <td>
                                        <table>
                                            <tbody>
                                                <tr>
                                                    <td><i><strong>L1 Username :</strong></i></td>
                                                    <td>@Model.newCustomerVendorModel.L1UserName</td>
                                                </tr>
                                                <tr>
                                                    <td><i><strong>L1 Password:</strong></i></td>
                                                    <td>@Model.newCustomerVendorModel.L1Password</td>
                                                </tr>

                                                <tr>
                                                    <td><i><strong>L2 Username:</strong></i></td>
                                                    <td>@Model.newCustomerVendorModel.L2UserName</td>
                                                </tr>

                                                <tr>
                                                    <td><i><strong>L2 Password:</strong></i></td>
                                                    <td>@Model.newCustomerVendorModel.L2Password</td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </td>
                                </tr>

                                <tr>
                                    <td><strong>Agreement :</strong></td>
                                    <td>
                                        <table>
                                            <tbody>
                                                @if(! String.IsNullOrEmpty(Model.newCustomerVendorModel.AgreementPath))
                                                {
                                                    <tr>
                                                        <td><i><strong>Agreement Path:</strong></i></td>                                                        
                                                        <td><a href="@Model.newCustomerVendorModel.AgreementPath">Agreement File</a></td>
                                                    </tr>    
                                                }
                                                <tr>
                                                    <td><i><strong>Agreement Start Date :</strong></i></td>
                                                    <td>
                                                        @if (Model.newCustomerVendorModel.AgreementStartDate != null)
                                                        {
                                                            @Model.newCustomerVendorModel.AgreementStartDate.Value.ToShortDateString();    
                                                        }                                                        
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td><i><strong>Agreement End Date :</strong></i></td>
                                                    <td>
                                                        @if(Model.newCustomerVendorModel.AgreementEndDate != null)
                                                        {
                                                            @Model.newCustomerVendorModel.AgreementEndDate.Value.ToShortDateString()    
                                                        }                                                        
                                                    </td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </td>
                                </tr>

                                <tr>
                                    <td><strong>Status :</strong></td>
                                    <td>@Model.newCustomerVendorModel.StatusString</td>
                                </tr>

                                <tr>
                                    <td><strong>Client Code :</strong></td>
                                    <td>@Model.newCustomerVendorModel.ClientCode</td>
                                </tr>

                                <tr>
                                    <td><strong>Site :</strong></td>
                                    <td>@Model.newCustomerVendorModel.Site</td>
                                </tr>

                            </tbody>
                        </table>

                        @*<a href="#" class="btn btn-primary">My Sales Performance</a>
                            <a href="#" class="btn btn-primary">Team Sales Performance</a>*@
                    </div>
                </div>
            </div>
            @*<div class="panel-footer">
                    <a data-original-title="Broadcast Message" data-toggle="tooltip" type="button" class="btn btn-sm btn-primary"><i class="glyphicon glyphicon-envelope"></i></a>
                    <span class="pull-right">
                        <a href="edit.html" data-original-title="Edit this user" data-toggle="tooltip" type="button" class="btn btn-sm btn-warning"><i class="glyphicon glyphicon-edit"></i></a>
                        <a data-original-title="Remove this user" data-toggle="tooltip" type="button" class="btn btn-sm btn-danger"><i class="glyphicon glyphicon-remove"></i></a>
                    </span>
                </div>*@

        </div>
    </div>
</div>