@model CSPLibrary.SoftwareViewModel
@{
    ViewBag.Title = "Software Inventory";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<div style="text-align:center">
    <h2>Software Inventory</h2>
</div>

<div class="wrapper" id="companySetup">

    @*Render Registered Software table from Editor Template*@
    @Html.DisplayFor(m => m.RegisteredSoftwareList, "RegisteredSoftwareList")


</div>
@section Scripts {
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/jqueryval")    
    @Styles.Render("~/Content/admin/css")
    @Styles.Render("~/Content/bootstrap-table/css")
    @Scripts.Render("~/bundles/bootstrap-table")
}


<script>
    function strongDisplayFormatter(value, row) {
        return '<strong>' + value + '</strong>';
    }
    function nameDisplayFormatter(value, row) {
        return '<strong><a href="/Software/DisplaySoftwareDetails?softwareid=' + row.Software_ID + '">' + value + '</a></strong>'
    }
    function tableActionsFormatter(value, row) {
        return ' <div>\
                                <a href="/Software/EditSoftware?softwareid=' + row.Software_ID + '" class="flaticon-edit" title="Edit User Profile."></a>\
                                <a href="#delete-confirmation" refer="/Software/DeleteSoftware?softwareid=' + row.Software_ID + '" data-toggle="modal" class="flaticon-recycle" title="Delete this Client."></a>\
                            </div>';
    }

    $(document).ready(function () {
        // Maked Edit Controls
        jQuery(function ($) {
            $(".phone").mask("000.000.0000");
        });
    });
</script>