@model CSPLibrary.NewClientModel

@{
    ViewBag.Title = "Add New Client";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<div style="text-align:center">
    <h2>Add New Client</h2>
</div>


<div class="col-sm-10">
    @using (Html.BeginForm("PostNewClient", "Clients", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { enctype = "multipart/form-data", @class = "form-horizontal", @id = "NewCustomerVendorForm" }))
    {

        <div class="modal-footer">
            <a href="/Clients/Index" class="btn">Cancel</a>
            <input type="submit" class="btn" value="Save" />
        </div>

        @Html.AntiForgeryToken()
        @Html.ValidationSummary(true)
        <div class="form-group">
            @Html.LabelFor(m => m.Client_Code, new { @class = "col-sm-3 control-label" })
            <div class="col-sm-8">
                @Html.TextBoxFor(m => m.Client_Code, new { @class="form-control", @autofocus = "autofocus", @placeholder = "Enter Client Code" })
                @Html.ValidationMessageFor(m => m.Client_Code)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(m => m.Company_Name, new { @class = "col-sm-3 control-label" })
            <div class="col-sm-8">
                @Html.TextBoxFor(m => m.Company_Name, new { @class = "form-control", @autofocus = "autofocus", @placeholder = "Enter Company Name" })
                @Html.ValidationMessageFor(m => m.Company_Name)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(m => m.ServiceType, new { @class = "col-sm-3 control-label" })
            <div class="col-sm-8">
                @Html.DisplayFor(m => m.ServiceType, "ServicesList", new { @autofocus = "autofocus" })
                @Html.ValidationMessageFor(m => m.ServiceType)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(m => m.Website, new { @class = "col-sm-3 control-label" })
            <div class="col-sm-8">
                @Html.TextBoxFor(m => m.Website, new { @autofocus = "autofocus", @class = "url form-control", @placeholder = @"http://www.example.com" })
                @Html.ValidationMessageFor(m => m.Website)
            </div>
        </div>

        <div class="form-group">
            <div class="panel-group" id="agreementsSec_" style="margin-left: 26.5%;margin-right: 10%;">
                <div class="panel">

                    <div class="panel-heading" style="background-color:grey">
                        <h4 class="panel-title">
                            @*<a data-toggle="collapse" data-parent="#agreementsSec_" href="#agreementsSecChild_">*@
                            <strong style="color:black">
                                Agreement
                            </strong>
                            @*</a>*@
                        </h4>
                    </div>
                    <div id="agreementsSecChild_" class="panel-group">
                        <div class="panel-body">
                            <div class="form-group">
                                @Html.LabelFor(m => m.AgreementPath, new { @class = "col-sm-3 control-label" })
                                <div class="col-sm-8">
                                    @Html.TextBoxFor(m => m.AgreementPath, new { type = "file", accept = ".pdf", @class="form-control" })
                                    @Html.ValidationMessageFor(m => m.AgreementPath)
                                </div>
                            </div>
                            <div class="form-group">
                                @Html.LabelFor(m => m.AgreementStartDate, new { @class = "col-sm-3 control-label" })
                                <div class="row">
                                    <div class="container">
                                        <div class="col-sm-8">
                                            <div class='input-group date' id="startDate_">
                                                @Html.TextBoxFor(m => m.AgreementStartDate, new { @class = "form-control", @placeholder = "01/25/2014" })
                                                <span class="input-group-addon">
                                                    <span class="glyphicon glyphicon-calendar"></span>
                                                </span>
                                            </div>
                                            @Html.ValidationMessageFor(m => m.AgreementStartDate)
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="form-group">
                                @Html.LabelFor(m => m.AgreementEndDate, new { @class = "col-sm-3 control-label" })
                                <div class="row">
                                    <div class="container">
                                        <div class="col-sm-8">
                                            <div class='input-group date' id="endDate_">
                                                @Html.TextBoxFor(m => m.AgreementEndDate, new { @class = "form-control", @placeholder = "01/25/2014" })
                                                <span class="input-group-addon">
                                                    <span class="glyphicon glyphicon-calendar"></span>
                                                </span>
                                            </div>
                                            @Html.ValidationMessageFor(m => m.AgreementEndDate)
                                        </div>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="form-group">
        </div>
        
        <div class="form-group">
            <div class="panel-group" id="agreementsSec_" style="margin-left: 26.5%;margin-right: 10%;">
                <div class="panel">

                    <div class="panel-heading" style="background-color:grey">
                        <h4 class="panel-title">
                          <strong style="color:black">
                                Team
                            </strong>
                         </h4>
                    </div>
                    <div id="agreementsSecChild_" class="panel-group">
                        <div class="panel-body">

                            <div class="form-group">
                                @Html.LabelFor(m => m.executiveIncharge, new { @class = "col-sm-3 control-label" })
                                <div class="row">
                                    <div class="container">
                                        <div class="col-sm-8">
                                             @Html.EditorFor(m => m.executiveIncharge, "CSPUsers")
                                             @Html.ValidationMessageFor(m => m.executiveIncharge)
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="form-group">
                                @Html.LabelFor(m => m.programManager, new { @class = "col-sm-3 control-label" })
                                <div class="row">
                                    <div class="container">
                                        <div class="col-sm-8">
                                             @Html.EditorFor(m => m.programManager, "CSPUsers")
                                             @Html.ValidationMessageFor(m => m.programManager)
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                @Html.LabelFor(m => m.accountManager, new { @class = "col-sm-3 control-label" })
                                <div class="row">
                                    <div class="container">
                                        <div class="col-sm-8">
                                               @Html.EditorFor(m => m.accountManager, "CSPUsers")
                                               @Html.ValidationMessageFor(m => m.accountManager)
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                @Html.LabelFor(m => m.pamManager, new { @class = "col-sm-3 control-label" })
                                <div class="row">
                                    <div class="container">
                                        <div class="col-sm-8">
                                              @Html.EditorFor(m => m.pamManager, "CSPUsers")
                                              @Html.ValidationMessageFor(m => m.pamManager)
                                        </div>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(m => m.Status, new { @class = "col-sm-3 control-label" })
            <div class="col-sm-8">
                @Html.EditorFor(m => m.Status, "UserStatus")
                @Html.ValidationMessageFor(m => m.Status)
            </div>
        </div>
        <div class="form-group">            
            @*<div class="col-sm-8">*@
                @Html.TextBoxFor(m => m.Bills, new { @placeholder = "Enter Sites", @style = "display:none" })               
            @*</div>*@
            <div class="panel-group" id="clientBillPanel_" style="margin-left: 26.5%;margin-right: 10%;">
                <div class="panel">
                    <div class="panel-heading" style="background-color:grey">
                        <h4 class="panel-title">
                            <strong style="color:black">
                                Client Bills
                            </strong>
                            @*</a>*@
                        </h4>
                    </div>
                    <div class="panel-group">
                        <div class="panel-body">
                            <div id="BillsPanel"></div>
                            <input id="AddNew_bill" type="button" class="btn col-md-5" value="Add New Bill" />
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="form-group">            
            @*<div class="col-sm-8">*@
                @Html.TextBoxFor(m => m.Sites, new { @placeholder = "Enter Sites", @style = "display:none" })               
            @*</div>*@
            <div class="panel-group" id="clientSitePanel_" style="margin-left: 26.5%;margin-right: 10%;">
                <div class="panel">
                    <div class="panel-heading" style="background-color:grey">
                        <h4 class="panel-title">
                            <strong style="color:black">
                                Client Sites
                            </strong>
                            @*</a>*@
                        </h4>
                    </div>
                    <div class="panel-group">
                        <div class="panel-body">
                            <div id="SitesPanel"></div>
                            <input id="AddNew_btn" type="button" class="btn col-md-5" value="Add More Sites" />
                        </div>
                    </div>
                </div>
            </div>
        </div>
        
         


        <div class="form-group">
            

        </div>

        <div class="modal-footer">
            <a href="/Clients/Index" class="btn">Cancel</a>
            <input type="submit" class="btn" value="Save" />
        </div>
    }

</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/bundles/jquery")
    @Styles.Render("~/Content/admin/css")
    @Scripts.Render("~/bundles/maskedEdit")
    @Scripts.Render("~/bundles/moment")
    @Scripts.Render("~/bundles/bootstrap-datepicker")
    @Styles.Render("~/bundles/bootstrap-datepicker-css")

    <script>        

        $(document).ready(function () {
            // Initialize datepicker
            $("#startDate_").datetimepicker({
                pickTime: false
            });
            $("#endDate_").datetimepicker({
                pickTime: false
            });
            $("#startDate_").on("dp.change", function (e) {
                $('#endDate_').data("DateTimePicker").setMinDate(e.date);
            });
            $("#endDate_").on("dp.change", function (e) {
                $('#startDate_').data("DateTimePicker").setMaxDate(e.date);
            });

            //$(".zip").load(function () {
            //    $(".zip").mask("00000");
            //});

            //$(".phone").on(function () {
            //    $(".phone").mask("00000");
            //});

            // Maked Edit Controls
            //jQuery(function ($) {
            //    $(".phone").mask("000.000.0000");
            //    $(".zip").mask("00000");
            //});
        });
    </script>

    <script>
        function createElement(tagName) {
            return document.createElement(tagName);
        }

        function appendChild(parent, child) {
            parent.appendChild(child);
        }       
        function addOption(selectbox, text, value) {
            var optn = createElement("OPTION");
            optn.text = text;
            optn.value = value;
            if (text == "California") {
                $(optn).attr('selected', 'selected');
            }
            selectbox.options.add(optn);
        }
        function createDropDown() {
            var states = new Array(
                "Alabama",
                "Alaska",
                "Arizona",
                "Arkansas",
                "California",
                "Colorado",
                "Connecticut",
                "Delaware",
                "Florida",
                "Georgia",
                "Hawaii",
                "Idaho",
                "Illinois",
                "Indiana",
                "Iowa",
                "Kansas",
                "Kentucky",
                "Louisiana",
                "Maine",
                "Maryland",
                "Massachusetts",
                "Michigan",
                "Minnesota",
                "Mississippi",
                "Missouri",
                "Montana",
                "Nebraska",
                "Nevada",
                "New Hampshire",
                "New Jersey",
                "New Mexico",
                "New York",
                "North Carolina",
                "North Dakota",
                "Ohio",
                "Oklahoma",
                "Oregon",
                "Pennsylvania",
                "Rhode Island",
                "South Carolina",
                "South Dakota",
                "Tennessee",
                "Texas",
                "Utah",
                "Vermont",
                "Virginia",
                "Washington",
                "West Virginia",
                "Wisconsin",
                "Wyoming"

                );
            var stateSelect = createElement('select');
            for (var i = 0; i < states.length; ++i) {
                addOption(stateSelect, states[i], states[i]);
            }
            
            return stateSelect;
        }
        function createBillableDropDown() {
            var dropOptions = new Array("Yes", "No");
            var billableSelect = createElement('select');
            for (var index = 0; index < dropOptions.length; index++) {
                addOption(billableSelect, dropOptions[index], index);
            }
            return billableSelect;
        }
        function createFormGroupDiv(labelText, className) {
            var inputField;
            if (className == 'state') {
                inputField = createDropDown();
            }
            else {
                inputField = createElement('input');
            }
            $(inputField).attr("class", className + " form-control");
            var label = createElement('label');
            label.innerHTML = labelText;
            $(label).attr('class', 'control-label col-md-3');
            var formDiv = createElement('div');
            $(formDiv).attr('class', 'form-group');
            var formChild = createElement('div');
            $(formChild).attr('class', 'col-sm-8');
            appendChild(formChild, inputField);
            appendChild(formDiv, label);
            appendChild(formDiv, formChild);
            return formDiv;
        }
        function createBillsFormGroupDiv(labelText, className) {

            var input = createElement('input');
            $(input).attr("class", className);
            var label = createElement('label');
            label.innerHTML = labelText;
            $(label).attr('class', 'control-label col-md-7');

            var formDiv = createElement('div');
            $(formDiv).attr('class', 'form-group');

            var formChild = createElement('div');
            $(formChild).attr('class', 'col-sm-3');
            var span = createElement('span');
            $(span).text("$");
            $(span).attr('style', 'float:left;color:orange;font-size: large;');
            appendChild(formChild, input);
            appendChild(formDiv, label);
            appendChild(formDiv, formChild);
            appendChild(formDiv, span);
            return formDiv;
        }
        function createBillableFormGroupDiv(labelText, className) {

            var input = createElement('input');
            $(input).attr("class", className);
            var label = createElement('label');
            label.innerHTML = labelText;
            $(label).attr('class', 'control-label col-md-7');

            var formDiv = createElement('div');
            $(formDiv).attr('class', 'form-group');

            var formChild = createElement('div');
            $(formChild).attr('class', 'col-sm-3');
            var span = createElement('span');
            $(span).text("$");
            $(span).attr('style', 'float:left;color:orange;font-size: large;margin-top:9%;');
            var billableDropDown = createBillableDropDown();

            $(billableDropDown).change(function () {
                if ($(billableDropDown).val() == "0") {
                    $(input).show();
                    $(span).show();
                }
                else {
                    $(input).val("0");
                    $(input).hide();
                    $(span).hide();
                }
            });
            appendChild(formChild, billableDropDown);
            appendChild(formChild, input);
            appendChild(formDiv, label);
            appendChild(formDiv, formChild);
            appendChild(formDiv, span);
            return formDiv;
        }
        function createSiteDiv(id) {

            var siteDiv = createElement('div');
            $(siteDiv).attr('id', id);
            $(siteDiv).attr('class', 'panel');
            $(siteDiv).attr('style', 'border-width:thin;border-color:gray;margin-bottom:2%;');

            var panelHeadingDiv = createElement('div');
            $(panelHeadingDiv).attr('style', "background-color:dimgray");
            $(panelHeadingDiv).attr('class', 'panel-heading');
            panelHeadingDiv.innerHTML = "<h4 class='panel-title'><strong style='color:black;'>Site Information</strong></h4>";

            var panelGroup = createElement('div');
            $(panelGroup).attr('class', 'panel-group');

            var boostrapDiv = createElement('div');
            $(boostrapDiv).attr('class', 'panel-body');

            var siteNameDiv = createFormGroupDiv('Site Name', 'siteName');
            var addressDiv = createFormGroupDiv('Address', 'address');
            var cityDiv = createFormGroupDiv('City', 'city');
            var stateDiv = createFormGroupDiv('State', 'state');
            var zipDiv = createFormGroupDiv('Zip', 'zip');
            var phoneNoDiv = createFormGroupDiv('Phone Number', 'phone');
            var mobNoDiv = createFormGroupDiv('Fax', 'fax');
            var removeBtn = createElement('input');
            $(removeBtn).attr('type', 'button');
            $(removeBtn).attr('class', 'btn col-md-offset-8 col-md-3');
            $(removeBtn).attr('value', 'Remove');
            $(removeBtn).attr('style', 'margin-bottom: 15px;');
            $(removeBtn).click(function () {
                $(siteDiv).remove();
            });

            appendChild(boostrapDiv, siteNameDiv);
            appendChild(boostrapDiv, addressDiv);
            appendChild(boostrapDiv, cityDiv);
            appendChild(boostrapDiv, stateDiv);
            appendChild(boostrapDiv, zipDiv);
            appendChild(boostrapDiv, phoneNoDiv);
            appendChild(boostrapDiv, mobNoDiv);
            appendChild(boostrapDiv, removeBtn);

            appendChild(panelGroup, boostrapDiv);
            appendChild(siteDiv, panelHeadingDiv);
            appendChild(siteDiv, panelGroup);            

            return siteDiv;
        }
        function createBillDiv(id) {
            var billDiv = createElement('div');
            $(billDiv).attr('id', id);
            $(billDiv).attr('class', 'panel');
            $(billDiv).attr('style', 'border-width:thin;border-color:gray;margin-bottom:2%;');

            var panelHeadingDiv = createElement('div');
            $(panelHeadingDiv).attr('style', "background-color:dimgray");
            $(panelHeadingDiv).attr('class', 'panel-heading');
            panelHeadingDiv.innerHTML = "<h4 class='panel-title'><strong style='color:black;'>Billing Details</strong></h4>";

            var panelGroup = createElement('div');
            $(panelGroup).attr('class', 'panel-group');

            var boostrapDiv = createElement('div');
            $(boostrapDiv).attr('class', 'panel-body');

            var chiefInfoOfficer = createBillsFormGroupDiv('Chief Information Officer', 'chiefInfoOfficer');
            var solutionsArchitect = createBillsFormGroupDiv('Solutions Architect', 'solutionsArchitect');
            var remoteSupport = createBillsFormGroupDiv('Remote Support', 'remoteSupport');
            var onSiteSupport = createBillsFormGroupDiv('On-Site Support	', 'onSiteSupport');
            var billableSupportVM = createBillableFormGroupDiv('Billable Support (Vendor Management)', 'billableSupportVMgmt');
            var billableSupportAM = createBillableFormGroupDiv('Billable Support (Add/Modify)', 'billableSupportAM');
            var onSiteService = createBillsFormGroupDiv('Next Business Day On-Site Services', 'onSiteService');
            var travel = createBillsFormGroupDiv('Travel ', 'travel');
            var mileage = createBillsFormGroupDiv('Mileage', 'mileage');

            var removeBtn = createElement('input');
            $(removeBtn).attr('type', 'button');
            $(removeBtn).attr('class', 'btn col-md-offset-8 col-md-3');
            $(removeBtn).attr('value', 'Remove');
            $(removeBtn).attr('style', 'margin-bottom: 15px;');
            $(removeBtn).click(function () {
                $(billDiv).remove();
            });

            appendChild(boostrapDiv, chiefInfoOfficer);
            appendChild(boostrapDiv, solutionsArchitect);
            appendChild(boostrapDiv, remoteSupport);
            appendChild(boostrapDiv, onSiteSupport);
            appendChild(boostrapDiv, billableSupportVM);
            appendChild(boostrapDiv, billableSupportAM);
            appendChild(boostrapDiv, onSiteService);
            appendChild(boostrapDiv, travel);
            appendChild(boostrapDiv, mileage);
            appendChild(boostrapDiv, removeBtn);

            appendChild(panelGroup, boostrapDiv);
            appendChild(billDiv, panelHeadingDiv);
            appendChild(billDiv, panelGroup);

            return billDiv;
        }
        var idSuffix = 1;
        $("#SitesPanel").append(createSiteDiv('Sites1'));
        
        $('#AddNew_btn').click(function () {
            idSuffix++;
            var id = "Sites" + idSuffix;
            var siteDiv = createSiteDiv(id);
            $("#SitesPanel").append(siteDiv);
            setTimeout(window.scrollTo(0, document.body.scrollHeight), 1000);

            // call mask-it event
            $(document).trigger('mask-it');
        });

        var billIdSuffix = 1;
        $("#BillsPanel").append(createBillDiv('Bill1'))

        $("#AddNew_bill").click(function () {
            billIdSuffix++;
            var billId = "Bill" + billIdSuffix;
            var billDiv = createBillDiv(billId);
            $("#BillsPanel").append(billDiv);
            //setTimeout(window.scrollTo(0, document.body.scrollHeight), 1000);

            $(document).trigger('mask-it');

        });
        function fetchAllInputs() {
            var allSites = [];
            for (var i = 1; i <= idSuffix; i++) {
                var elementID = "Sites" + i;
                if ($("#" + elementID + "").length != 0) {
                    var sites = {
                        SiteName:{},
                        Address: {},
                        City: {},
                        State: {},
                        Zip: {},
                        PhoneNumber: {},
                        FaxNumber: {}
                    };
                    sites.SiteName = $("#" + elementID + " .siteName").val();
                    sites.Address = $("#" + elementID + " .address").val();
                    sites.City = $("#" + elementID + " .city").val();
                    sites.State = $("#" + elementID + " .state").val();
                    sites.Zip = $("#" + elementID + " .zip").val();
                    sites.PhoneNumber = $("#" + elementID + " .phone").val();
                    sites.FaxNumber = $("#" + elementID + " .fax").val();

                    allSites.push(sites);
                }
            }
           // console.log(JSON.stringify(allSites));
            return JSON.stringify(allSites);
        }
        function fetchAllBills() {
            var allBills = [];
            for (var index = 1; index <= billIdSuffix; index++) {
                var elementID = "#Bill" + index;
                if ($(elementID).length != 0) {
                    var bills = {
                        ChiefInformationOfficer: {},
                        SolutionsArchitect: {},
                        RemoteSupport: {},
                        OnSiteSupport: {},
                        BillableSupportVendorManagement: {},
                        BillableSupportAddModify: {},
                        NextBusinessDayOnSiteServices: {},
                        Travel: {},
                        Mileage: {}
                    };
                    bills.ChiefInformationOfficer = $(elementID + " .chiefInfoOfficer").val();
                    bills.SolutionsArchitect = $(elementID + " .solutionsArchitect").val();
                    bills.RemoteSupport = $(elementID + " .remoteSupport").val();
                    bills.OnSiteSupport = $(elementID + " .onSiteSupport").val();
                    if ($(elementID + " .billableSupportVMgmt").length != 0) {
                        bills.BillableSupportVendorManagement = $(elementID + " .billableSupportVMgmt").val();
                    }
                    if ($(elementID + " .billableSupportAM").length != 0) {
                        bills.BillableSupportAddModify = $(elementID + " .billableSupportAM").val();
                    }
                    bills.NextBusinessDayOnSiteServices = $(elementID + " .onSiteService").val();
                    bills.Travel = $(elementID + " .travel").val();
                    bills.Mileage = $(elementID + " .mileage").val();

                    allBills.push(bills);
                  }
               }
                return JSON.stringify(allBills);
             }
            $('#NewCustomerVendorForm').submit(function () {
                $('[name="Sites"]').val(fetchAllInputs());
                $('[name="Bills"]').val(fetchAllBills());
            });
    </script>
}
