@model CSPLibrary.NewClientViewModel

@{
    ViewBag.Title = "Edit Client Profile";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h2>Update Client</h2>


<div class="col-sm-10">
    @using (Html.BeginForm("UpdateClientProfile", "Clients", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { enctype = "multipart/form-data", @class = "form-horizontal", @id = "NewCustomerVendorForm" }))
    {

        <div class="modal-footer">
            <a href="/Clients/Index" class="btn">Cancel</a>
            <input type="submit" class="btn" value="Update Client" />
        </div>
        @*<div class="form-group">
            </div>
            <div class="form-group">
            </div>*@

        @Html.AntiForgeryToken()
        @Html.ValidationSummary(true)
        @Html.HiddenFor(m => m.newClientModel.Client_Id);
        <div class="form-group">
            @Html.LabelFor(m => m.newClientModel.Client_Code, new { @class = "col-sm-3 control-label" })
            <div class="col-sm-8">
                @Html.TextBoxFor(m => m.newClientModel.Client_Code, new { @autofocus = "autofocus", @placeholder = "Enter Client Code" })
                @Html.ValidationMessageFor(m => m.newClientModel.Client_Code)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(m => m.newClientModel.Company_Name, new { @class = "col-sm-3 control-label" })
            <div class="col-sm-8">
                @Html.TextBoxFor(m => m.newClientModel.Company_Name, new { @autofocus = "autofocus", @placeholder = "Enter Company Name" })
                @Html.ValidationMessageFor(m => m.newClientModel.Company_Name)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(m => m.newClientModel.ServiceType, new { @class = "col-sm-3 control-label" })
            <div class="col-sm-8">
                @Html.DisplayFor(m => m.newClientModel.ServiceType, "ServicesList", new { @autofocus = "autofocus" })
                @Html.ValidationMessageFor(m => m.newClientModel.ServiceType)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(m => m.newClientModel.Website, new { @class = "col-sm-3 control-label" })
            <div class="col-sm-8">
                @Html.TextBoxFor(m => m.newClientModel.Website, new { @autofocus = "autofocus", @class = "url", @placeholder = @"http://www.example.com" })
                @Html.ValidationMessageFor(m => m.newClientModel.Website)
            </div>
        </div>

        <div class="form-group">
            <div class="panel-group" id="agreementsSec_" style="margin-left: 26.5%;margin-right: 10%;">
                <div class="panel">

                    <div class="panel-heading" style="background-color:grey">
                        <h4 class="panel-title">
                            @*<a data-toggle="collapse" data-parent="#agreementsSec_" href="#agreementsSecChild_">*@
                            <strong style="color:black">
                                Agreement
                            </strong>
                            @*</a>*@
                        </h4>
                    </div>
                    <div id="agreementsSecChild_" class="panel-group">
                        <div class="panel-body">
                            <div class="form-group">
                                @Html.LabelFor(m => m.newClientModel.AgreementPath, new { @class = "col-sm-3 control-label" })
                                <div class="col-sm-8">
                                    @Html.TextBoxFor(m => m.newClientModel.AgreementPath, new { type = "file", accept = ".pdf" })
                                    @Html.ValidationMessageFor(m => m.newClientModel.AgreementPath)
                                </div>
                            </div>
                            <div class="form-group">
                                @Html.LabelFor(m => m.newClientModel.AgreementStartDate, new { @class = "col-sm-3 control-label" })
                                <div class="row">
                                    <div class="container">
                                        <div class="col-sm-8">
                                            <div class='input-group date' id="startDate_">
                                                @Html.TextBoxFor(m => m.newClientModel.AgreementStartDate, new { @class = "form-control", @placeholder = "01/25/2014" })
                                                <span class="input-group-addon">
                                                    <span class="glyphicon glyphicon-calendar"></span>
                                                </span>
                                            </div>
                                            @Html.ValidationMessageFor(m => m.newClientModel.AgreementStartDate)
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="form-group">
                                @Html.LabelFor(m => m.newClientModel.AgreementEndDate, new { @class = "col-sm-3 control-label" })
                                <div class="row">
                                    <div class="container">
                                        <div class="col-sm-8">
                                            <div class='input-group date' id="endDate_">
                                                @Html.TextBoxFor(m => m.newClientModel.AgreementEndDate, new { @class = "form-control", @placeholder = "01/25/2014" })
                                                <span class="input-group-addon">
                                                    <span class="glyphicon glyphicon-calendar"></span>
                                                </span>
                                            </div>
                                            @Html.ValidationMessageFor(m => m.newClientModel.AgreementEndDate)
                                        </div>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="form-group">
        </div>

        @*<div class="form-group">
            @Html.LabelFor(m => m.newClientModel.Team, new { @class = "col-sm-3 control-label" })
            <div class="col-sm-8">
                @Html.EditorFor(m => m.newClientModel.Team, "TeamList")
                @Html.ValidationMessageFor(m => m.newClientModel.Team)
            </div>
        </div>*@
        <div class="form-group">
            <div class="panel-group" id="agreementsSec_" style="margin-left: 26.5%;margin-right: 10%;">
                <div class="panel">

                    <div class="panel-heading" style="background-color:grey">
                        <h4 class="panel-title">
                          <strong style="color:black">
                                Team
                            </strong>
                         </h4>
                    </div>
                    <div id="agreementsSecChild_" class="panel-group">
                        <div class="panel-body">

                            <div class="form-group">
                                @Html.LabelFor(m => m.newClientModel.executiveIncharge, new { @class = "col-sm-3 control-label" })
                                <div class="row">
                                    <div class="container">
                                        <div class="col-sm-8">
                                             @Html.EditorFor(m => m.newClientModel.executiveIncharge, "CSPUsers")
                                             @Html.ValidationMessageFor(m => m.newClientModel.executiveIncharge)
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="form-group">
                                @Html.LabelFor(m => m.newClientModel.programManager, new { @class = "col-sm-3 control-label" })
                                <div class="row">
                                    <div class="container">
                                        <div class="col-sm-8">
                                             @Html.EditorFor(m => m.newClientModel.programManager, "CSPUsers")
                                             @Html.ValidationMessageFor(m => m.newClientModel.programManager)
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                @Html.LabelFor(m => m.newClientModel.accountManager, new { @class = "col-sm-3 control-label" })
                                <div class="row">
                                    <div class="container">
                                        <div class="col-sm-8">
                                               @Html.EditorFor(m => m.newClientModel.accountManager, "CSPUsers")
                                               @Html.ValidationMessageFor(m => m.newClientModel.accountManager)
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                @Html.LabelFor(m => m.newClientModel.pamManager, new { @class = "col-sm-3 control-label" })
                                <div class="row">
                                    <div class="container">
                                        <div class="col-sm-8">
                                              @Html.EditorFor(m => m.newClientModel.pamManager, "CSPUsers")
                                              @Html.ValidationMessageFor(m => m.newClientModel.pamManager)
                                        </div>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(m => m.newClientModel.Status, new { @class = "col-sm-3 control-label" })
            <div class="col-sm-8">
                @Html.EditorFor(m => m.newClientModel.Status, "UserStatus")
                @Html.ValidationMessageFor(m => m.newClientModel.Status)
            </div>
        </div>

        @*<div class="form-group">
                @Html.LabelFor(m => m.newClientModel.Sites, new { @class = "col-sm-3 control-label" })
                <div class="col-sm-8">
                    @Html.TextBoxFor(m => m.newClientModel.Sites, new { @placeholder = "Enter Sites" })
                    @Html.ValidationMessageFor(m => m.newClientModel.Sites)
                </div>
            </div>*@

        <div class="form-group">            
            @*<div class="col-sm-8">*@
                @Html.TextBoxFor(m => m.newClientModel.Sites, new { @placeholder = "Enter Sites", @style = "display:none" })               
            @*</div>*@
            <div class="panel-group" id="clientSitePanel_" style="margin-left: 26.5%;margin-right: 10%;">
                <div class="panel">
                    <div class="panel-heading" style="background-color:grey">
                        <h4 class="panel-title">
                            <strong style="color:black">
                                Client Sites
                            </strong>
                            @*</a>*@
                        </h4>
                    </div>
                    <div class="panel-group">
                        <div class="panel-body">
                            <div id="SitesPanel">
                                @{
                                    int count = 1;
                                    foreach (CSPLibrary.ClientSite item in @Model.clientSites)
                                    {
                                        string divId = "Sites" + count;
                                        count++;
                                        <div id="@divId" class="panel" style="border-width:thin;border-color:gray;margin-bottom:2%;">
                                            <div style="background-color:dimgray" class="panel-heading">
                                                <h4 class="panel-title"><strong style="color:black;">Site Information</strong></h4>
                                            </div>
                                           
                                            <input style="display:none" class="Client_Site_Id" value="@item.Client_Site_Id">
                                            <div class="panel-group">
                                                <div class="panel-body">
                                                    <div class="form-group">
                                                        <label class="control-label col-md-3">Address</label>
                                                        <div class="col-sm-8">
                                                            <input class="address" value="@item.Address">
                                                        </div>
                                                    </div>
                                                    <div class="form-group">
                                                        <label class="control-label col-md-3">City</label>
                                                        <div class="col-sm-8">
                                                            <input class="city" value="@item.City">
                                                        </div>
                                                    </div>
                                                    <div class="form-group">
                                                        <label class="control-label col-md-3">State</label>
                                                        <div class="col-sm-8">
                                                            <input class="state" value="@item.State">
                                                        </div>
                                                    </div>
                                                    <div class="form-group">
                                                        <label class="control-label col-md-3">Zip</label>
                                                        <div class="col-sm-8">
                                                            <input class="zip" maxlength="5" autocomplete="off" value="@item.Zip">
                                                        </div>
                                                    </div>
                                                    <div class="form-group">
                                                        <label class="control-label col-md-3">Phone Number</label>
                                                        <div class="col-sm-8">
                                                            <input class="phone" value="@item.PhoneNumber">
                                                        </div>
                                                    </div>
                                                    <div class="form-group">
                                                        <label class="control-label col-md-3">Fax</label>
                                                        <div class="col-sm-8">
                                                            <input class="fax" value="@item.FaxNumber">
                                                        </div>
                                                    </div>
                                                    <input type="button" class="btn col-md-offset-8 col-md-3 removeSite_" value="Remove" style="margin-bottom: 15px;">
                                                </div>
                                            </div>
                                        </div>
                                    }
                                }
                            </div>
                            <input style="display:none" name="newClientModel.Sites">
                            <input id="AddNew_btn" type="button" class="btn col-md-5" value="Add More Sites" />
                        </div>
                    </div>
                </div>
            </div>
        </div>
        
        <div class="modal-footer">
            <a href="/Clients/Index" class="btn">Cancel</a>
            <input type="submit" class="btn" value="Update Client" />
        </div>
    }

</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/bundles/jquery")
    @Styles.Render("~/Content/admin/css")    
    @Scripts.Render("~/bundles/maskedEdit")
    @Scripts.Render("~/bundles/moment")    
    @Scripts.Render("~/bundles/bootstrap-datepicker")
    @Styles.Render("~/bundles/bootstrap-datepicker-css")

    <script>
        $(document).ready(function () {            
            // Initialize datepicker
            $("#startDate_").datetimepicker({
                pickTime: false
            });
            $("#endDate_").datetimepicker({
                pickTime: false
            });
            $("#startDate_").on("dp.change", function (e) {
                $('#endDate_').data("DateTimePicker").setMinDate(e.date);
            });
            $("#endDate_").on("dp.change", function (e) {
                $('#startDate_').data("DateTimePicker").setMaxDate(e.date);
            });

            // Maked Edit Controls
            jQuery(function ($) {
                $(".phone").mask("000.000.0000", { clearIfNotMatch: true });
            });

        });
    </script>

    <script>

        $(document).ready(function () {
            //var deleteSites = [];
            $(".removeSite_").click(function(event){
                //deleteSites.push($("#"+e.toElement.parentNode.parentNode.parentNode.id +" .Client_Site_Id").val());
               
                if(typeof event.toElement !== "undefined")
                {
                    event.toElement.parentNode.parentNode.parentNode.remove();
                }
                else if(typeof event.relatedTarget !== "undefined")
                {
                    if(event.relatedTarget !== null)
                    {
                        event.relatedTarget.parentNode.parentNode.parentNode.remove();
                    }
                    else if(typeof event.currentTarget !== "undefined")
                    {
                        event.currentTarget.parentNode.parentNode.parentNode.remove();
                    }
                }
            });
        });        

        function RemoveParent() {
            debugger;
            $(this).parent(3);
        }
        function createElement(tagName) {
            return document.createElement(tagName);
        }

        function appendChild(parent, child) {
            parent.appendChild(child);
        }

        function createFormGroupDiv(labelText, className) {

            var input = createElement('input');
            $(input).attr("class", className);
            var label = createElement('label');
            label.innerHTML = labelText;
            $(label).attr('class', 'control-label col-md-3');

            var formDiv = createElement('div');
            $(formDiv).attr('class', 'form-group');

            var formChild = createElement('div');
            $(formChild).attr('class', 'col-sm-8');
            appendChild(formChild, input);
            appendChild(formDiv, label);
            appendChild(formDiv, formChild);
            return formDiv;
        }
        function createSiteDiv(id) {

            var siteDiv = createElement('div');
            $(siteDiv).attr('id', id);
            $(siteDiv).attr('class', 'panel');
            $(siteDiv).attr('style', 'border-width:thin;border-color:gray;margin-bottom:2%;');

            var panelHeadingDiv = createElement('div');
            $(panelHeadingDiv).attr('style', "background-color:dimgray");
            $(panelHeadingDiv).attr('class', 'panel-heading');
            panelHeadingDiv.innerHTML = "<h4 class='panel-title'><strong style='color:black;'>Site Information</strong></h4>";

            var panelGroup = createElement('div');
            $(panelGroup).attr('class', 'panel-group');

            var boostrapDiv = createElement('div');
            $(boostrapDiv).attr('class', 'panel-body');

            var addressDiv = createFormGroupDiv('Address', 'address');
            var cityDiv = createFormGroupDiv('City', 'city');
            var stateDiv = createFormGroupDiv('State', 'state');
            var zipDiv = createFormGroupDiv('Zip', 'zip');
            var phoneNoDiv = createFormGroupDiv('Phone Number', 'phone');
            var mobNoDiv = createFormGroupDiv('Fax', 'fax');
            var removeBtn = createElement('input');
            $(removeBtn).attr('type', 'button');
            $(removeBtn).attr('class', 'btn col-md-offset-8 col-md-3');
            $(removeBtn).attr('value', 'Remove');
            $(removeBtn).attr('style', 'margin-bottom: 15px;');
            $(removeBtn).click(function () {
                $(siteDiv).remove();
            });

            appendChild(boostrapDiv, addressDiv);
            appendChild(boostrapDiv, cityDiv);
            appendChild(boostrapDiv, stateDiv);
            appendChild(boostrapDiv, zipDiv);
            appendChild(boostrapDiv, phoneNoDiv);
            appendChild(boostrapDiv, mobNoDiv);
            appendChild(boostrapDiv, removeBtn);

            appendChild(panelGroup, boostrapDiv);
            appendChild(siteDiv, panelHeadingDiv);
            appendChild(siteDiv, panelGroup);

            return siteDiv;
        }
        @if (Model.clientSites.Count == 0)
        {
            <text>
                var idSuffix = 1;
                $("#SitesPanel").append(createSiteDiv('Sites1'));
        </text>
        }
        else
        {
            <text>
        var idSuffix = @Model.clientSites.Count;
            </text>
            
        }
        debugger;

        $('#AddNew_btn').click(function () {
            idSuffix++;
            var id = "Sites" + idSuffix;
            var siteDiv = createSiteDiv(id);
            $("#SitesPanel").append(siteDiv);
            setTimeout(window.scrollTo(0, document.body.scrollHeight), 1000);
        });

        function fetchAllInputs() {
            var allSites = [];
            for (var i = 1; i <= idSuffix; i++) {
                var elementID = "Sites" + i;
                if ($("#" + elementID + "").length != 0) {
                    var sites = {
                        Client_Site_Id:{},
                        Address: {},
                        City: {},
                        State: {},
                        Zip: {},
                        PhoneNumber: {},
                        FaxNumber: {}
                    };
                    sites.Address = $("#" + elementID + " .address").val();
                    sites.City = $("#" + elementID + " .city").val();
                    sites.State = $("#" + elementID + " .state").val();
                    sites.Zip = $("#" + elementID + " .zip").val();
                    sites.PhoneNumber = $("#" + elementID + " .phone").val();
                    sites.FaxNumber = $("#" + elementID + " .fax").val();
                    if($("#" + elementID + " .Client_Site_Id")){
                        sites.Client_Site_Id = $("#" + elementID + " .Client_Site_Id").val();
                    }


                    allSites.push(sites);
                }
            }
            console.log(JSON.stringify(allSites));
            return JSON.stringify(allSites);
        }
        $('#NewCustomerVendorForm').submit(function () {
            $('[name="newClientModel.Sites"]').val(fetchAllInputs());
          //  $('[name="deleteSites"]').val(deleteSites);
        });
    </script>
}