@model CSPLibrary.NewUserModel
@{
    ViewBag.Title = "User Profile";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h2></h2>

<div class="col-lg-12 center" style="margin-left:9%">
    <div class="tableHeader col-lg-9">        
        <a class="col-lg-2 btn" href="/People/People/">All Users</a>
        <h2 class="col-lg-8">Profile of @Model.Name</h2>        
    </div>
    <div class="col-lg-9 col-sm-12 col-md-6 col-lg-6 col-xs-offset-0 col-sm-offset-0 col-md-offset-0 col-lg-offset-0 toppad">
        <div class="panel panel-info">
            <div class="panel-body">
                <div class="row">
                    <div class="col-md-3 col-lg-3 " align="center"> <img alt="User Pic" src="/content/images/profile_photo.png" class="img-circle"> </div>
                    <div class=" col-md-9 col-lg-9 ">
                        <table class="table table-user-information">
                            <tbody>
                                <tr>
                                    <td><strong>Name :</strong></td>
                                    <td>@Model.Name</td>
                                </tr>

                                <tr>
                                    <td><strong>Email :</strong></td>
                                    <td>@Model.Email</td>
                                </tr>

                                <tr>
                                    <td><strong>Phone Number:</strong></td>
                                    <td>@Model.Phone</td>
                                </tr>

                                <tr>
                                    <td><strong>Mobile Number :</strong></td>
                                    <td>@Model.MobileNumber</td>
                                </tr>

                                <tr>
                                    <td><strong>Works As :</strong></td>
                                    <td>@Model.AccountRole.ToString()</td>
                                </tr>

                                <tr>
                                    <td><strong>Customer Name:</strong></td>
                                    <td>@Model.Customer_Name</td>
                                </tr>

                                <tr>
                                    <td><strong>Status :</strong></td>
                                    <td>@Model.StatusString</td>
                                </tr>

                                <tr>
                                    <td><strong>Address :</strong></td>
                                    <td>@Model.Address</td>
                                </tr>

                            </tbody>
                        </table>

                        @*<a href="#" class="btn btn-primary">My Sales Performance</a>
                            <a href="#" class="btn btn-primary">Team Sales Performance</a>*@
                    </div>
                </div>
            </div>
            @*<div class="panel-footer">
                    <a data-original-title="Broadcast Message" data-toggle="tooltip" type="button" class="btn btn-sm btn-primary"><i class="glyphicon glyphicon-envelope"></i></a>
                    <span class="pull-right">
                        <a href="edit.html" data-original-title="Edit this user" data-toggle="tooltip" type="button" class="btn btn-sm btn-warning"><i class="glyphicon glyphicon-edit"></i></a>
                        <a data-original-title="Remove this user" data-toggle="tooltip" type="button" class="btn btn-sm btn-danger"><i class="glyphicon glyphicon-remove"></i></a>
                    </span>
                </div>*@

        </div>
    </div>
</div>



