@model CSPLibrary.AdminHomeViewModel

@{
    ViewBag.Title = "Home";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<div style="text-align:center">
    <h2>Registered Users List</h2>
</div>

<div class="wrapper">
    @*Render Registered USers table from Editor Template*@
    @Html.DisplayFor(m => m.RegisteredUserList, "RegisteredUserList")

    @*Render New User registration from Editor Template*@
    @Html.EditorFor(m => m.NewUserRegistrationModel)

</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/bundles/maskedEdit")
    @Styles.Render("~/Content/bootstrap-table/css")
    @Scripts.Render("~/bundles/bootstrap-table")
    

    <script>
        function strongDisplayFormatter(value, row)
        {
            return '<strong>' + value + '</strong>';
        }
        function nameDisplayFormatter(value, row)
        {
            return '<strong><a href="/People/DisplayUserProfile?userid=' + row.User_Id + '">' + value + ' ' + row.LastName + '</a></strong></div>'
        }
        function tableActionsFormatter(value, row)
        {
            return ' <div>\
                                <a href="/People/EditUser?userid=' + row.User_Id + '" class="flaticon-edit" title="Edit User Profile."></a>\
                                <a href="/People/ChangePassword?userid=' + row.User_Id + '" class="flaticon-lock" title="Change password for this user."></a>\
                                <a href="#delete-confirmation" refer="/People/DeleteUser?userid='+row.User_Id+'" data-toggle="modal" class="flaticon-recycle" title="Delete this user."></a>\
                            </div>';
        }

        $(document).ready(function () {
            // Maked Edit Controls
            jQuery(function ($) {
                $(".phone").mask("000.000.0000");
            });
        });
    </script>    
}