@model CSPLibrary.AdminHomeViewModel

@{
    ViewBag.Title = "Home";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

@*<h2>AdminHome</h2>*@

<div class="wrapper" id="companySetup">
    
    @*Render Registered USers table from Editor Template*@
    @Html.DisplayFor(m => m.RegisteredUserList, "RegisteredUserList")

    @*Render New User registration from Editor Template*@
    @Html.EditorFor(m => m.NewUserRegistrationModel)

</div>
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/Content/admin/css")
    @Scripts.Render("~/bundles/jquery/maskedEdit")

    <script>
            $(document).ready(function () {
                debugger;
                // Maked Edit Controls
                jQuery(function ($) {
                    $(".phone").mask("000-000-0000");
                });
            });
    </script>



@*<script>
    document.onsubmit = function () {
        return false;
    }

    $.fn.serializeObject = function () {
        var o = {};
        var a = this.serializeArray();
        $.each(a, function () {
            var dotIndex = this.name.lastIndexOf(".");
            if (dotIndex != -1) {
                this.name = this.name.substr(dotIndex + 1, this.name.length);
            }            
            if (o[this.name]) {
                if (!o[this.name].push) {
                    o[this.name] = [o[this.name]];
                }
                o[this.name].push(this.value || '');
            } else {
                o[this.name] = this.value || '';
            }
        });
        return o;
    };

    //callback handler for form submit
    $("#formAddNewUser_").submit(function (e) {
        $.support.cors = true;    
        var postData = $(this).serializeObject();
        var userDetails = JSON.stringify(postData);
        var formURL = $(this).attr("action");
        $.ajax(
        {
            type: "POST",
            url: "http://api.cspnetworks.net/api/User/PostUser",
            data: userDetails,
            dataType: 'json',
            contentType: 'application/json; charset=utf-8',
            success: function (data, textStatus, jqXHR) {
                //data: return data from server
                alert("User Has Been Added  !!");

            },
            error: function (jqXHR, textStatus, errorThrown) {
                //if fails
                debugger;
                alert("Errorr!!");
            }
        });

        e.preventDefault(); //STOP default action
        e.unbind(); //unbind. to stop multiple form submit.
    });
   
    
</script>*@   
    <script>
        
        
    </script>
}