
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title</title>
    @Styles.Render("~/Content/admin/css")
    @Scripts.Render("~/bundles/modernizr")

</head>
<body>
    <header>
        <div class="wrapper">
            <div class="userInfo">
                <div class="userContainer">
                    <a><span class="welText well-lg">Welcome, @User.Identity.Name</span></a>

                    <b><a href="/Account/Logout" class="loading">Logout</a></b>

                </div>
            </div>
            <a class="logo" href="/People/People" title="CSP: Visual Business Documentation">
                <img src="/Content/images/logo_csp.gif" alt="CSP: CSP Framework - V1">
            </a>
        </div>


        <div class="welcome">
            <div class="navSection">
                <div class="wrapper">
                    <div id="serviceProvider"></div>
                    <div class="tabs">
                        <div class="collapse navbar-collapse navbar-ex1-collapse">
                            <ul>
                                <li class="">
                                    <a href="#" title="Dashboard">Dashboard</a>
                                </li>
                                <li class="dd dropdown">
                                    <a href="/NetworkLocations" id="networksNav" title="Networks" class="dropdown-toggle" data-toggle="dropdown">Networks</a>
                                    <ul class="dc dropdown-menu">
                                        <li><a href="#">Server</a></li>
                                        <li><a href="#">Router</a></li>
                                        <li><a href="#">Switch</a></li>
                                        <li><a href="#">Hub</a></li>
                                    </ul>
                                </li>
                                <li class="dd dropdown">
                                    <a href="#" id="applicationsNav" title="Inventory" class="dropdown-toggle" data-toggle="dropdown">Inventory</a>
                                    <ul class="dc dropdown-menu">
                                        <li><a href="/Hardware/Index">Hardware</a></li>
                                        <li><a href="/Software/Index">Software</a></li>
                                    </ul>
                                </li>
                                <li class="dd selected dropdown">
                                    <a href="#" title="Business" class="dropdown-toggle" data-toggle="dropdown">Business</a>
                                    <ul class="dropdown-menu">
                                        <li><a href="/People/People">Users</a></li>
                                        <li><a href="/Vendors/Index">Vendors</a></li>
                                        <li><a href="/CustomerVendor/Index">Vendor Management</a></li>
                                        <li><a href="/Clients/Index">Client Profle</a></li>
                                    </ul>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>


    </header>    
    <div class="container body-content">

        @if (ViewBag.Status == @framework.cspnetworks.net.Properties.Resources.Success)
        {
            ViewBag.Status = "";
            <span id="messageSpan" class="success col-lg-1">@ViewBag.StatusMessage</span>
        }

        @if (ViewBag.Status == @framework.cspnetworks.net.Properties.Resources.Error)
        {
            ViewBag.Status = "";
            <span id="messageSpan" class="error">@ViewBag.StatusMessage</span>
        }
        
        @RenderBody()
    </div>

    <hr />
    <footer>
        <p>&copy; @DateTime.Now.Year - CSP Networks</p>
    </footer>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")    
    @RenderSection("scripts", required: false)
    <script>
        //$('.navSection .tabs .dropdown').hover(function () {
        //    $(this).find('.dropdown-menu').first().stop(true, true).slideDown(200);
        //}, function () {
        //    $(this).find('.dropdown-menu').first().stop(true, true).slideUp(105)
        //});

        var handleMasks = function () {
            if ($(".phone") !== undefined) {
                $(".phone").mask("000.000.0000");
            }
            if ($(".fax") !== undefined) {
                $(".fax").mask("000.000.0000");
            }
            if ($(".zip") !== undefined) {
                $(".zip").mask("00000");
            }
        };

        $(document).ready(function () {

            setTimeout(function () {
                $('#messageSpan').fadeOut('slow');
            }, 3000); // <-- time in milliseconds

            $("a.flaticon-recycle").click(function (event) {
                debugger;
                $('#anchorDelete_').attr("href", $(this).attr("refer"));
            });

            $(document).on('mask-it', function () {
                handleMasks();
            }).trigger('mask-it');

            // call mask-it event
            $(document).trigger('mask-it');

            //$('#delete-confirmation').on('show.bs.modal', function (e) {
            //    debugger;
            //    // do something...
            //        var link = $(this).data('refer');
            //        $('#anchorDelete_').href = link;
            //})

        });

    </script>
</body>
</html>

