@model CSPLibrary.Fun_Phone_System
@{
    String[] values = {
        "Analog",
        "PRI",
        "SIP",
        "Virtual"
                     };
    String selectedValue = "";
    if (@Model != null)
    {
        selectedValue = (String)@Model.ToString();
    }
    var items = values.Zip(values, (name, value) =>
          new SelectListItem
          {
              Text = name,
              Value = value.ToString(),
              Selected = value == selectedValue
          });

}

<div class="form-group">
    @Html.LabelFor(m => m.Phone_Sys_Solution, new { @class = "col-sm-3 control-label" })
    <div class="col-sm-8">
        @Html.DropDownListFor(m => m.Phone_Sys_Solution, @items, new {  @class = "form-control", @autofocus = "autofocus" })
        @Html.ValidationMessageFor(m => m.Phone_Sys_Solution)

    </div>
</div>


<div class="form-group">
    @Html.LabelFor(m => m.Phone_Sys_IP_Address, new { @class = "col-sm-3 control-label" })
    <div class="col-sm-8">
        @Html.TextBoxFor(m => m.Phone_Sys_IP_Address, new {@autofocus = "autofocus", @class = "ip_address form-control", @placeholder = "127.0.0.1" })
        @Html.ValidationMessageFor(m => m.Phone_Sys_IP_Address)
    </div>
</div>


<div class="form-group">
    @Html.LabelFor(m => m.Phone_Sys_Management_Url, new { @class = "col-sm-3 control-label" })
    <div class="col-sm-8">
        @Html.TextBoxFor(m => m.Phone_Sys_Management_Url, new { @autofocus = "autofocus", @class = "url form-control", @placeholder = @"http://www.example.com" })
        @Html.ValidationMessageFor(m => m.Phone_Sys_Management_Url)
    </div>
</div>


<script>
    if ($) {
        $('.ip_address').mask('0ZZ.0ZZ.0ZZ.0ZZ', { translation: { 'Z': { pattern: /[0-9]/, optional: true } }, clearIfNotMatch: true });
    }    
</script>