@model CSPLibrary.Fun_Connectivity_Phone
@{
    String[] values = {
        "Analog",
        "PRI",
        "SIP",
        "Virtual"
                     };
    String selectedValue = "";
    if (@Model != null)
    {
        selectedValue = (String)@Model.ToString();
    }
    var items = values.Zip(values, (name, value) =>
          new SelectListItem
          {
              Text = name,
              Value = value.ToString(),
              Selected = value == selectedValue
          });

}

<div class="form-group">
    @Html.LabelFor(m => m.Conn_Phone_Solution, new { @class = "col-sm-3 control-label" })
    <div class="col-sm-8">
        @Html.DropDownListFor(m => m.Conn_Phone_Solution, @items, new {  @class = "form-control", @autofocus = "autofocus" })
        @Html.ValidationMessageFor(m => m.Conn_Phone_Solution)

    </div>
</div>


<div class="form-group">
    @Html.LabelFor(m => m.Conn_Phone_Phone_Number, new { @class = "col-sm-3 control-label" })
    <div class="col-sm-8">
        @Html.TextBoxFor(m => m.Conn_Phone_Phone_Number, new { @autofocus = "autofocus", @class = "multi_phone form-control", @placeholder = "949.555.1000-1200" })
        @Html.ValidationMessageFor(m => m.Conn_Phone_Phone_Number)
    </div>
</div>


<div class="form-group">
    @Html.LabelFor(m => m.Conn_Phone_Management_Url, new { @class = "col-sm-3 control-label" })
    <div class="col-sm-8">
        @Html.TextBoxFor(m => m.Conn_Phone_Management_Url, new { @autofocus = "autofocus", @class = "url form-control", @placeholder = @"http://www.example.com" })
        @Html.ValidationMessageFor(m => m.Conn_Phone_Management_Url)
    </div>
</div>


<script>
    if ($) {
        $('.ip_address').mask('0ZZ.0ZZ.0ZZ.0ZZ', { translation: { 'Z': { pattern: /[0-9]/, optional: true } }, clearIfNotMatch: true });
        $(".multi_phone").mask("000.000.0000-0000");
    }
</script>