<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - CSP Framework V1</title>
    @Styles.Render("~/Content/login/css")
    @Scripts.Render("~/bundles/modernizr")

</head>
<body>
    <div id="adminForms">
        <div id="adminLogo">
            <a href="/Account/Login" title="Go to CSP Framework"><img src="/Content/images/logo_csp.gif"></a>
            <span>CSP Framework - V1</span>
        </div>
        <div id="Loginform" class="form Login">
            <div class="container body-content">
                @RenderBody()                
            </div>
        </div>
        <hr />
        <footer style="color:white">
            &copy; @DateTime.Now.Year - CSP Networks
        </footer>
    </div>


    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
